.section-wiki #content-area h2 {
  background: url(../images/bg-green.jpg) repeat-x;
  border-radius: 0 10px 10px 0;
  color: #fff;
  padding: 2px 30px;
  float: left;
  margin-bottom: 20px;
  margin-left: -20px;
  -moz-border-radius: 0  10px 10px 0;
  -webkit-border-radius: 0  10px 10px 0;
  
  -moz-box-shadow: 0 4px 7px #999999;
  -webkit-box-shadow: 0 4px 7px #999999;
}

.section-wiki #content-area h2 + ul{
  clear: left;
}