a.activity-delete-record,
a.activity-delete-comment {
  display: none;
  padding: 2px;
}

ul.activity-list li:hover a.activity-delete-record,
ul.activity-comments-list li:hover a.activity-delete-comment,
tr:hover a.activity-delete-record { 
  color: #ff4444;
  display: inline;
  font-weight: bold;
}

ul.activity-list li:hover a.activity-delete-record:hover,
ul.activity-comments-list li:hover a.activity-delete-comment:hover,
tr:hover a.activity-delete-record:hover { 
  color: #ffffff;
  background-color: #ff4444;
}

/* activity comments */

.activity-links { 
  font-size: xx-small;
  color: #888;
}

.activity-comments-click-to-show {
  cursor: pointer;
}

.activity-comments-click-to-show:hover {
  border-bottom: 1px dotted #444;
  color: #444;
}

.activity-comments-form-hidden {
  display: none;
}

#center .activity-comments-form-hidden form,
.activity-comments-form-hidden .form-item, 
.activity-comments-form-hidden .form-submit { 
  margin-bottom: 0;
  margin-top: 0;
}

.activity-comments-form-hidden textarea { 
  border: 1px solid #ddd;
  font-size: smaller;
}

.item-list ul.activity-comments-list li { 
  background-image: none;
}

.activity-comment { 
  color: #444;
  font-size: smaller;
  width: 85%;
}

.activity-comment-timestamp { 
  color: #888;
}